<div id="mobile-menu">
  <ul class="menu nav">
    <li> <a href="/printsites-and-beyond">Printsites and Beyond</a> </li>
    <li> <a href="/love-thy-neighbor">Love Thy Neighbor</a> </li>
    <li> <a href="/the-key">The Key</a> </li>
    <li> <a href="/buckaroo-and-me">Buckaroo and Me</a> </li>
    <li> <a href="/contact">Contact</a> </li>
  </ul>
</div>
